body {
    width: 98%;
    margin: auto;
    background-color: #eff3f6;
}

#headerSite {
    width: 100%;
    border: 1px solid black;
    text-align: center;
    background-color: #ccd8e5;
}

#menuSite {
    width: 100%;
    background-color: #ccd8e5;
    border: 1px solid black;
    margin-top: -1px;
    text-align: center;
}

#menuSite table {
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #7db0cc;
    text-align: center;
    margin: auto;
}

#menuSite td,th {
    width: 9%;
    border: none;
    border-collapse: collapse;
    border: 1px solid #7db0cc;
    margin: -1px;
}

#menuSite form {
    display: inline;
}

#bodySite {
    width: 100%;
    margin-top: -1px;
    background-color: #ccd8e5;
    border: 1px solid black;
}

#bodySite #defaut,#SiteStyles,#SiteStylesOk,#SiteStylesError {
    margin: 1% auto;
    text-align: center;
}

#bodySite .listeStyles {
    margin: 1% auto;
}

#headerBack {
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

#menuBack {
    width: 80%;
    margin: auto;
    padding: 5px;
}

#menuBack li {
    list-style: none;
    padding: 5px;
    clear: both;
}

#menuBack form {
    display: inline-block;
    float: left;
}

#menuBack input[type="image"] {
    vertical-align: middle;
}

#menuHorizontalBack {
    width: 80%;
    margin: auto;
    padding: 5px;
}

#menuHorizontalBack li {
    list-style: none;
    padding: 5px;
    clear: both;
}

#menuHorizontalBack form {
    display: inline-block;
    float: left;
}

#menuHorizontalBack input[type="image"] {
    vertical-align: middle;
}

#pageBack {
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

#pageBack #listePage {
    margin: 1% auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0px;
}

#pageBack #listePage th {
    border: 1px solid black;
    text-align: center;
}

#pageBack #listePage td {
    border: 1px solid black;
    text-align: center;
}

#scripts {
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

#metas {
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

#style #listeStyle {
    margin: 1% auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0px;
}

#style #listeStyle th {
    border: 1px solid black;
    text-align: center;
}

#style #listeStyle td {
    border: 1px solid black;
    text-align: center;
}

#livreOrBack {
    width: 80%;
    text-align: center;
    margin: 1% auto;
}

#livreOrBack table {
    width: 100%;
    margin: 1% auto;
    border-collapse: collapse;
    border-spacing: 0px;
}

#livreOrBack th {
    border: 1px solid black;
    padding: 5px;
}

#livreOrBack td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

#footerBack {
    width: 100%;
    text-align: center;
    margin: 1% auto;
}

#footerBack #listeMessage {
    margin: 1% auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0px;
}

#footerBack #listeMessage th {
    border: 1px solid black;
}

#footerBack #listeMessage td {
    border: 1px solid black;
}

.btn {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 15px;
    background-color: #a1d8f0;
    border: 1px solid #7db0cc;
    padding: 5px 15px;
    margin: auto;
    background: -moz-linear-gradient(top, #badff3, #7acbed);
    background: -webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed) );
    -moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px;
}

.btn:hover,.btn:focus,.btn:active {
    background-color: #a1d8f0;
    background: -moz-linear-gradient(top, #7acbed, #badff3);
    background: -webkit-gradient(linear, left top, left bottom, from(#7acbed),
        to(#badff3) );
}

.btn:active {
    text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0px;
}

.CodeMirror {
    text-align: left;
    background-color: white;
    margin: 1%;
    border: 1px solid #eee;
    height: auto;
}

.CodeMirror-scroll {
    height: 600px;
}
