body {
    width: 1000px;
    margin: 0;
    margin: 0 auto;
    text-align: center;
}

#contenu {
    border: #000 solid 2px;
    background-color: #F0F0F0;
    margin: 0 auto;
    margin-top: 100px;
    width: 700px;
    height: 348px;
}
