body {
    background-color: #eff3f6;
}

.login {
    background-color: #fefefe;
    border: 1px solid #C3D4DB;
    border-top: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 0 1px;
    color: #444;
    font: normal 12px/14px Arial, Helvetica, Sans-serif;
    margin: 0 auto 30px;
    overflow: hidden;
    height: 260px;
    width: 332px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -130px 0 0 -166px;
}

.loginBody {
    background-color: #ccd8e5;
    border-top: 1px solid #dde0e8;
    border-bottom: 1px solid #dde0e8;
    padding: 10px 20px;
}

.login footer {
    background-color: #eff4f6;
    border-top: 1px solid #fff;
    padding: 22px 26px;
    overflow: hidden;
    height: 32px;
}

.login label {
    display: block;
    font: 14px/22px Arial, Helvetica, Sans-serif;
    margin: 10px 0 0 6px;
}

.login input[type=text],.login input[type=password] {
    border: 6px solid #eff3f6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.06) inset, 0 0 1px #95a2a7 inset;
    margin: 3px 0 4px;
    padding: 8px 6px;
    width: 270px;
    display: block;
}

.login input[type=text]:focus,.login input[type=password]:focus {
    border: 6px solid #f0f7fc;
    -moz-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    -webkit-box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.04) inset, 0 0 1px #0d6db6 inset;
    color: #333;
}


.rLink {
    padding: 0 6px 0 0;
    font-size: 11px;
    float: right;
}

.login a {
    color: #999;
}

.login a:hover,.box a:focus {
    text-decoration: underline;
}

.login a:active {
    color: #f84747;
}

.cancelButton {
    float: left;
}

.sendButton {
    float: right;
}

.btnLogin {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 15px;
    background-color: #a1d8f0;
    background: -moz-linear-gradient(top, #badff3, #7acbed);
    background: -webkit-gradient(linear, left top, left bottom, from(#badff3), to(#7acbed) );
    border: 1px solid #7db0cc !important;
    cursor: pointer;
    font: bold 11px/14px Verdana, Tahomma, Geneva;
    text-shadow: rgba(0, 0, 0, 0.2) 0 1px 0px;
    color: #fff;
    -moz-box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px;
    -webkit-box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px;
    box-shadow: inset rgba(255, 255, 255, 0.6) 0 1px 1px, rgba(0, 0, 0, 0.1) 0 1px 1px;
    padding: 7px 21px;
    margin: 10px 5px;
    width:130px;
}

.btnLogin:hover,.btnLogin:focus,.btnLogin:active {
    background-color: #a1d8f0;
    background: -moz-linear-gradient(top, #7acbed, #badff3);
    background: -webkit-gradient(linear, left top, left bottom, from(#7acbed), to(#badff3) );
}

.btnLogin:active {
    text-shadow: rgba(0, 0, 0, 0.3) 0 -1px 0px;
}
